@import "bootstrap.min.css";
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

.timesheet {
    padding: 10px;

}

.timesheet .timesheet__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* timesheet */
.timesheet .timesheet__header .icon__Left {
}

.timesheet__header__select {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 0px 15px;

}

.timesheet__table {
    margin-top: 50px;
}


.timesheet .MuiInput-root {
    width: 100% !important;
}
